.slide1 {
    background-image:
        url("https://i.ibb.co/26XfSRw/hero-img-2-2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.slide2 {
    background-image:
        url("https://i.ibb.co/rp9BLm4/hero-img-2-1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.slide3 {
    background-image:
        url("https://i.ibb.co/m4Ct8QR/hero-img-2-3.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}